<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mob.app.dev.lifecycle"
        version   = "1.0.0">

    <name>RECIPEiT</name>

    <description>
        A mobile application of recipes.
    </description>

    <author href="http://source.worcestercomputing.com" email="oani1_16@uni.worc.ac.uk">
        Iulian Oana
    </author>

    <preference name="phonegap-version" value="cli-7.0.1" />
	
    <preference name="permissions"  value="none"/>   
    
    <platform name="ios">
    </platform>
	
	
	<splash src="www/res/screen/splash1.png" width="640" height="960"/>
	
	<access origin="*"/>
   	<plugin name="cordova-plugin-whitelist" version="1" />
</widget>
